font-family: 'Montserrat', sans-serif;font-family: 'Montserrat', sans-serif;@charset "utf-8";
.container {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}
.nav-left {
    width: 33%;
    height: 90px;
    background-color: #A72729;
    float: left;
	font-size: 180%;

}
.nav-right {
    width: 64%;
    height: 70px;
    background-color: #A13133;
    float: left;
    font-size: 100%;
    padding-top: 20px;
}

.nav-left p  {
    padding-left: 90px;
}

.nav-left p span {
    font-weight: 900;
    color: #000000;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    
}
.nav-right a {
    text-decoration: none;
    color: #000000;

}

.nav-right li {
    list-style-type: none;
    float: right;
    margin-left: 80px;
    opacity: 1;
    color: #000000;
}

.main {
    clear: both;
}

.main-image {
    float: left;
	padding-left: 50px;
}

.main-text {
    width: 849px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 200%;
    color: #000000;
    padding-left: 50px;
    padding-top: 150px;
}

.blog {
    clear: both;
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
}



.fbla {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
    margin-top: 0px;
}

.contact {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
}

.footer {

}

.footer p  {
    float: left;
    font-size: 150%;
    padding-left: 90px;
}
	
	.footer p span {
    font-weight: 900;
    color: #000000;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 105%;
}

.footer a {
    text-decoration: none;
    color: #000000;

}

.footer li {
    list-style-type: none;
    float: right;
    margin-left: 55px;
    opacity: 1;
    color: #000000;
    font-size: 80%;
    font-weight: 900;
}

#footertext {
    color: #000000;
    font-size: 100%;
    text-align: center;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
