body {
	font-family: "Montserrat", sans-serif;
}
.container {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
   
}
.nav {
    padding-bottom: 130px;
}


.nav-left {
    width: 33%;
    height: 90px;
    float: left;
    font-size: 180%;

}

.nav-left p  {
    padding-left: 90px;
}

.nav-left p span {
    font-weight: 900;
    color: #000000;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    
}

.nav-right {
    width: 64%;
    height: 70px;
    float: left;
    font-size: 120%;
    padding-top: 20px;
    font-weight: 900;
}

.nav-right a {
    text-decoration: none;
    color: #000000;
	padding: 20px;

}

.nav-right a:hover {
	color: #FFFFFF;
	background-color: #99191B
}

.nav-right li {
    list-style-type: none;
    float: right;
    margin-left: 40px;
    opacity: 1;
    color: #000000;
}

.main {
    clear: both;
}

.main-image {
    float: left;
	padding-left: 50px;
}

.main-text {
    width: 849px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 200%;
    color: #000000;
    padding-left: 50px;
    padding-top: 10px;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

.blog {
    clear: both;
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
}

.fbla {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
}

.contact {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 20px;
}

.footer-left {
    width: 33%;
    height: 90px;
    float: left;
    font-size: 180%;
}

.footer p  {
    padding-left: 90px;
}
	
.footer p span {
    font-weight: 900;
    color: #000000;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.footer-right {
    width: 64%;
    height: 70px;
    float: left;
    padding-top: 20px;
    font-weight: 900;
    font-size: 120%;
}

.footer a {
    text-decoration: none;
    color: #000000;
	padding: 20px;

}

.footer a:hover {
	color: #FFFFFF;
	background-color: #99191B
}

.footer li {
    list-style-type: none;
    float: left;
    margin-left: 0px;
    opacity: 1;
    color: #000000;
    font-weight: 900;
    padding-left: 130px;
}

#footertext {
    padding-top: 101px;
    text-align: center;
	font-weight: 900;
}


.group:before,
.group:after {
  content: "";
  display: table;
}
.footer {

}


.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
